* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 100%;
    background-color: #f7f7f796;
  }
  
  .header {
    padding: 10px 0;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-left: 150px;
  }
  
  .addressBook-text {
    font: normal normal bold 22px/25px Montserrat;
    text-align: left;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    color: #008cff;
    margin-left: 10px;
  }
  
  .addressBook-book {
    color: #42515f;
  }
  .btn {
    font: normal normal normal 22px/29px Roboto;
    background-color: #008cff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 15px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;

    
  }
  .button{
    display: flex;
    margin-right: 150px; 
    color: #008cff;

  }
  